.smart-eu-cookies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    box-shadow: 0 0 19px rgb(0, 0, 0, .40);
    align-items: baseline;
    color: #323232;
    padding: 0.7em 0;
    z-index: 1000;
    position: fixed;   /* position: relative;  (for show on the top of the page) */
    bottom: 0;
    width: 100%;
    font: normal 14px sans-serif;
	span{
      text-align: center;
      padding: 13px 7px;
      /* flex: 1 0 100%;  (bigger block ) */
	}
	button {
      font-size: 13px;
      cursor: pointer;
      background: rgb(0, 0, 0, .70);
      color: white;
      border: 1px solid black;
      margin: 0 5px;
      padding: 5px 15px;
      letter-spacing: 0.05em;
	}
	button:hover {
	   background: #000000;
	}
}
